{% extends "website/registration_base.html" %}

{% block title %} ACTIVATION SENT {% endblock %}
{% block cardtitle %} ACTIVATION SENT {% endblock %}
{% block description %} Check your email {% endblock %}



{% block content %}


  
  <div class="card mt-5">
      <div class="card-header pb-0">
        <h5 class="m-0 pb-0">ACTIVATION LINK SENT</h5>
      </div>
      <div class="card-body">
        
        <p class="card-text">Activation link has been sent to your email address. Please check your email and follow instructions in there.</p>
        
      </div>
  </div>
  


{% endblock %}
