{% load static %}
{% load site_filter %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %} {% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'clientimgs/logo.png' %}" rel="icon">
  <link href="{% static 'clientimgs/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'website/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
  <link href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'website/assets/css/style.css' %}" rel="stylesheet">

  
  <!-- Custom Styles -->
  <link href="{% static 'custom/css/style.css' %}" rel="stylesheet">
  <!-- template specific styles are appended here -->
  {% block css %} {% endblock%}

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <!--<h1 class="logo me-auto"><a href="index.html">{{ sn|sitename }}</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="http://127.0.0.1:8000/" class="logo me-auto"><img src="{% static 'clientimgs/logo.png' %}" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="http://127.0.0.1:8000/#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="http://127.0.0.1:8000/#about">About</a></li>
          <li><a class="nav-link scrollto" href="http://127.0.0.1:8000/#services">Services</a></li>
          <li><a class="nav-link scrollto" href="http://127.0.0.1:8000/#team">Members</a></li>
          <li><a class="nav-link scrollto" href="{% url 'pubic_listing' %}">Public Listing</a></li> 
          <li><a class="nav-link scrollto" href="{% url 'terms_conditions' %}">Terms</a></li>
          <li><a class="nav-link scrollto" href="http://127.0.0.1:8000/#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="{% url 'login_user' %}">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  {% block content %}

  {% endblock content %}


  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Subscribe with your email address to stay up to date with our latest news</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Dinau Control Centre (DCC)</h3>
            <p>
              Suite 4 <br>
              Parani Crescent, Tokarara<br>
              Port Moresby <br><br>
              <strong>Phone:</strong> 78222774<br>
              <strong>Email:</strong> info@dinaucontrolcentre.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Consumer Credit</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Business Credit</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Defaults Loading</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Debt Recovery</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Credit Rating</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Follow us on our social network to stay updated</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Dinau Control Center</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed & Programmed by <a href="https://webmasta.com.pg/">WEBMASTA</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'website/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'website/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'website/assets/vendor/purecounter/purecounter_vanilla.js' }"></script>

  <script src="{% static 'admin/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'website/assets/js/main.js' %}"></script>

  <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>

  <!-- Template specific scripts are appended here -->
  {% block scripts %} {% endblock %}

</body>

</html>









