{% extends 'base.html' %}
{% load static %}


{% block title %} DCC | HOME {% endblock %}

{% block content %} 

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-12 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1 class="text-center">Better CREDIT MANAGEMENT</h1>
          <h2 class="text-center">A smarter, more cost-effective way to manage your credit and business decisions</h2>
          <div class="d-flex justify-content-center justify-content-center text-center">
            <a href="{% url 'register' %}" class="btn-get-started scrollto">Register</a>
            </div>
        </div>
        
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'website/assets/img/clients/client-1.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'website/assets/img/clients/client-2.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'website/assets/img/clients/client-3.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'website/assets/img/clients/client-4.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'website/assets/img/clients/client-5.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'website/assets/img/clients/client-7.png' %}" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Why Choose DCC?
              
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Consumer Credit: Close the information gap with insights into consumer credit history to make informed lending decisions.</li>
              <li><i class="ri-check-double-line"></i> Business Credit: Minimize cash flow problems with detailed insights into business credit history, ensuring debtors pay promptly.</li>
              <li><i class="ri-check-double-line"></i> Loading Defaults: Upload debts to our database once they are in default and manage them efficiently.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <ul>
              <li><i class="ri-check-double-line"></i>Debt Management: We assist with credit approval and debt collection procedures.</li>
              <li><i class="ri-check-double-line"></i>Monitor Services: Receive email alerts when new information is available on a debtor's file.</li>
            </ul>
            <p>We provide accurate, confidential, and compliant information to help you make informed decisions in real-time, right at your fingertips.</p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3>Our <strong>Competitive Edge</strong></h3>
              <p>
                Your Competitive Edge in Credit Management
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Very Affordable <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      While others charges a ten thousand kina joining fee and nine kina per transaction, DCC offers superior service for just one thousand kina and two kina per transaction.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Early Bird Signup <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Sign up early for only three hundred kina!
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Go Live in Two Weeks: <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      We're launching in just two weeks, so don't miss this chance to get ahead.
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("{% static "website/assets/img/why-us.png" %}");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'website/assets/img/skills.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Join Our Expanding Credit Network</h3>
            <p class="fst-italic">
              Become a member of our expanding credit network.
            </p>

            <div class="">
              <h2 style="color: rgb(225, 147, 2);">+6 <span class="text-success">members</span></h2>
              <div class="stats-item d-flex align-items-center">
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Trusted by Finance Companies:<br></strong> Join the ranks of companies that rely on our database for accurate and up-to-date information.</p>
              </div><!-- End Stats Item -->
              <br>
              
              <h2 style="color: rgb(225, 147, 2);">+6,800 <span class="text-success">customer records</span></h2>
              <div class="stats-item d-flex align-items-center">
                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Comprehensive and Monitored Customer Data:<br></strong> Access customer data that is meticulously monitored and regularly updated.</p>
              </div><!-- End Stats Item --><br>
              
              <h2 style="color: rgb(225, 147, 2);">+K3,400.00 <span class="text-success">recovered</span></h2>
              <div class="stats-item d-flex align-items-center">
                <span data-purecounter-start="0" data-purecounter-end="453" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Significant Recollections:<br></strong> Benefit from the substantial amounts of kina recovered through our effective debt recovery processes.</p>
              </div><!-- End Stats Item --><br>
  
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Our Services</h2>
          <p>We provide a range of services to help members make informed credit and business decisions. Here are the main services DCC offers, along with an explanation of each:</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Consumer Credit Reporting</a></h4>
              <p>Detailed reports on the credit history of individual consumers. By accessing these reports, lenders can assess the creditworthiness of 
                potential borrowers, helping them make informed lending decisions and manage risk more effectively</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Business Credit Reporting</a></h4>
              <p>provides insights into the credit history of businesses. It helps companies 
                evaluate the financial stability of potential business partners or customers, 
                reducing the risk of extending credit to unreliable entities and ensuring prompt payments</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Default Management</a></h4>
              <p>allows members to upload and manage debts that are in default. It helps in tracking 
                and recording unpaid debts beyond the agreed credit terms, aiding in debt recovery processes 
                and encouraging timely payments</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Debt Collection Assistance</a></h4>
              <p>Assist members with their debt collection efforts. Strategies for pursuing unpaid debts, negotiating settlements, and legal actions if necessary.
                Effective debt collection services help improve cash flow and reduce bad debt losses for businesses.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 pt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Monitoring and Alerts</a></h4>
              <p>Members can place monitors on debtor accounts to receive notifications when there are updates or new information. 
                This proactive service helps businesses stay informed about changes in the credit status of their debtors, enabling timely actions to mitigate risks.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 pt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Credit Approval Processes</a></h4>
              <p>DCC helps streamline the credit approval process for its members by providing tools and data to evaluate credit applications quickly and accurately. 
                This includes automated checks and balances that ensure compliance with internal policies and regulatory requirements.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 pt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Data Security and Confidentiality</a></h4>
              <p>Ensures the security and confidentiality of data. DCC implements robust security measures, similar to those used in e-banking, to protect sensitive information. 
                This includes secure access controls, encryption, and comprehensive audit trails to monitor data access and usage.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 pt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Compliance and Accuracy Assurance</a></h4>
              <p>Maintaining the accuracy of credit data is essential for the reliability of the services provided. DCC has stringent quality control processes 
                to verify the information it receives and stores. Additionally, a compliance committee oversees operations to ensure adherence to legal and ethical standards.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Unlock the Power of Informed Decisions with DCC!</h3>
            <p> Don't wait! We're going live in two weeks. Sign up today and start making smarter credit and business decisions with Dinau Control Center. Invest in your future with DCC—where accuracy meets security and efficiency.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Register</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

   

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Our Members</h2>
          <p>Join the growing list of companies that trust and rely on timely credit data that we provide for better decision making.</p>
        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class=""><img src="{% static 'website/assets/img/clients/client-3.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Horivert Finance</h4>
                <span>Finance Company</span>
                <p>www.horivertfinance.com</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="member d-flex align-items-start">
              <div class=""><img src="{% static 'website/assets/img/clients/client-1.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Instabuxx</h4>
                <span>Lending & Borrowing Platform</span>
                <p>www.instabuxx.com</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="member d-flex align-items-start">
              <div class=""><img src="{% static 'website/assets/img/clients/client-2.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>LoanMasta</h4>
                <span>Automated Lending Software</span>
                <p>www.loanmasta.com</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class=""><img src="{% static 'website/assets/img/clients/client-5.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>WEBMASTA</h4>
                <span>Software Development & Hosting</span>
                <p>www.webmasta.com.pg</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class=""><img src="{% static 'website/assets/img/clients/client-4.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>MIWAN FINANCE</h4>
                <span>FINANCE COMPANY</span>
                <p>www.miwan.com.pg</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class=""><img src="{% static 'website/assets/img/clients/client-6.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>TRU PNG FINANCE</h4>
                <span>FINANCE COMPANY</span>
                <p>www.trupngfinance.com.pg</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class=""><img src="{% static 'website/assets/img/clients/client-7.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>PNG No.1 SME</h4>
                <span>SME TRAINING & FINANCE</span>
                <p>www.png1sme.com</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class=""><img src="{% static 'website/assets/img/clients/client-8.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Zacq Industries</h4>
                <span>ENGINEERING & TECH COMPANY</span>
                <p>www.zacqindustries.net</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class=""><img src="{% static 'website/assets/img/clients/client-9.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>KTP FINANCE</h4>
                <span>FINANCE COMPANY</span>
                <p>www.ktpfinance.com</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Fees</h2>
          <p>Our Joining Fees and Transactions are the most affordable in country</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Free Plan</h3>
              <h4><sup>K</sup>0<span>Joining Fee</span></h4>
              <h4><sup>K</sup>0<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Automated for LoanMasta Users</li>
                <li><i class="bx bx-check"></i> Upload Defaults Data</li>
                <li><i class="bx bx-check"></i> Search Database</li>
                <li><i class="bx bx-check"></i> K10 per customer credit data viewing</li>
                <li><i class="bx bx-check"></i> Monitoring & Alerts</li>
                
                <li class="na"><i class="bx bx-x"></i> <span>Detailed Credit History</span></li>
                <li class="na"><i class="bx bx-x"></i> <span>Debt Recovery Assistance</span></li>
              </ul>
              <a href="#" class="buy-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>SME Plan</h3>
              <h4><sup>K</sup>1,000.00<span>Joining Fee</span></h4>
              <h4><sup>K</sup>180.00<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Automated for LoanMasta Users</li>
                <li><i class="bx bx-check"></i> Upload Defaults Data</li>
                <li><i class="bx bx-check"></i> Search Database</li>
                <li><i class="bx bx-check"></i> K2.5 per customer credit data viewing</li>
                <li><i class="bx bx-check"></i> Monitoring & Alerts</li>
                <li><i class="bx bx-check"></i> Detailed Credit History</li>
                <li><i class="bx bx-check"></i> Debt Recovery Assistance</li>
              </ul>
              <a href="#" class="buy-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Business Plan</h3>
              <h4><sup>K</sup>1,000.00<span>Joining Fee</span></h4>
              <h4><sup>K</sup>180.00<span>per fortnight</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Automated for LoanMasta Users</li>
                <li><i class="bx bx-check"></i> Upload Defaults Data</li>
                <li><i class="bx bx-check"></i> Search Database</li>
                <li><i class="bx bx-check"></i> First 100 customer credit data viewing for Free</li>
                <li><i class="bx bx-check"></i> K1.5 per customer credit data viewing after 100 exhausted</li>
                <li><i class="bx bx-check"></i> Monitoring & Alerts</li>
                <li><i class="bx bx-check"></i> Detailed Credit History</li>
                <li><i class="bx bx-check"></i> Debt Recovery Assistance</li>
              </ul>
              <a href="#" class="buy-btn">Get Started</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>Some frequently asked questions and their answers can be found below:</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is Dinau Control Center (DCC)? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Dinau Control Center (DCC) is a credit bureau service provider that offers comprehensive credit reporting, default management, debt collection assistance, and monitoring services. We help businesses and financial institutions make informed credit and business decisions with accurate and secure data.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How does DCC differ from others? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  DCC offers a more cost-effective solution compared to others. While others charges thousands of kina for joining fee and monthly subscriptions and a maximum of K9 per transaction, DCC charges K1.5 per transaction. Additionaly, its automated with all WEBMASTA Products like LoanMasta.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">How can DCC help with debt collection? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  DCC assists members with their debt collection efforts by providing strategies for pursuing unpaid debts, negotiating settlements, and taking legal actions if necessary. Our services help improve cash flow and reduce bad debt losses.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">How secure is the data with DCC? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  DCC prioritizes the security and confidentiality of data. We implement robust security measures, similar to those used in the e-banking industry, including secure access controls, encryption, and comprehensive audit trails to monitor data access and usage.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">How accurate is the information provided by DCC? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  DCC employs stringent quality control processes to ensure the accuracy of the information we store and provide. We rely on accurate data supplied by our members and continuously verify the information through multiple stages of our operations.


                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Please contact us if you need further information about us and our services</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Suite 4, Parani Crescent, Tokarara, Port Moresby</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@dinaucontrolcentre.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>78222774</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2612.8978619729824!2d147.17412626636568!3d-9.429369845984185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x690230b9488d0ce5%3A0x4ad058ca41a6650b!2sParani%20Cres%2C%20Port%20Moresby%20National%20Capital%20District!5e0!3m2!1sen!2spg!4v1720271466116!5m2!1sen!2spg" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock %}