{% extends 'base.html' %}
{% load static %}


{% block title %} DCC | Terms & Conditions {% endblock %}

{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center" style="height:200px;>

    <div class="container">
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Terms and Conditions</h2>
          <p></p>
        </div>

        <div class="container">
            
    <h2>1. Acceptance of Terms</h2>
    <p>By accessing and using the services provided by Dinau Control Center (DCC), you agree to comply with and be bound by the following terms and conditions. These terms apply to all companies and organizations ("Members") that use our services.</p>
    
    <h2>2. Services Provided</h2>
    <p>DCC offers a range of services including, but not limited to, consumer and business credit reporting, default management, debt collection assistance, monitoring and alerts, and credit approval processes.</p>
    
    <h2>3. Consent to Data Usage</h2>
    <p>By using DCC's services, Members consent to provide DCC with access to their individual customer data and records. This includes, but is not limited to, personal and financial information, credit histories, and payment records. Members acknowledge and agree that DCC will use this data to provide the aforementioned services.</p>
    
    <h2>4. Data Security and Confidentiality</h2>
    <p>DCC is committed to maintaining the confidentiality and security of all customer data provided by Members. We employ robust security measures, including encryption and secure access controls, to protect data from unauthorized access and breaches. Members agree to our data handling practices and security protocols.</p>
    
    <h2>5. Data Accuracy</h2>
    <p>Members are responsible for ensuring the accuracy and completeness of the customer data they provide to DCC. DCC will take reasonable steps to verify and maintain the accuracy of the data, but it relies on the information supplied by Members.</p>
    
    <h2>6. Member Responsibilities</h2>
    <p>Members agree to:</p>
    <ul>
        <li>Provide accurate and up-to-date customer data and records.</li>
        <li>Obtain necessary consents from their customers to share data with DCC.</li>
        <li>Use DCC's services in compliance with all applicable laws and regulations.</li>
        <li>Keep their login credentials secure and confidential.</li>
    </ul>
    
    <h2>7. Fees and Payments</h2>
    <p>Members agree to pay the fees associated with the use of DCC's services as outlined in the service agreement. Fees are subject to change with prior notice to Members.</p>
    
    <h2>8. Termination of Services</h2>
    <p>DCC reserves the right to terminate or suspend access to its services if a Member breaches these terms and conditions or engages in activities that are unlawful or harmful to DCC or its users.</p>
    
    <h2>9. Limitation of Liability</h2>
    <p>DCC shall not be liable for any indirect, incidental, special, or consequential damages arising out of or in connection with the use of its services. Our liability for direct damages shall be limited to the amount paid by the Member for the services in the preceding six months.</p>
    
    <h2>10. Amendments</h2>
    <p>DCC reserves the right to amend these terms and conditions at any time. Members will be notified of any changes, and continued use of the services will constitute acceptance of the amended terms.</p>
    
    <h2>11. Governing Law</h2>
    <p>These terms and conditions shall be governed by and construed in accordance with the laws of Papua New Guinea. Any disputes arising under these terms shall be subject to the exclusive jurisdiction of the courts of Papua New Guinea.</p>
    
    <h2>12. Contact Information</h2>
    <p>For any questions or concerns regarding these terms and conditions, please contact us.
    
    <p>By using DCC's services, Members acknowledge that they have read, understood, and agree to be bound by these terms and conditions.</p>

        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Please contact us if you need further information about us and our services</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Suite 4, Parani Crescent, Tokarara, Port Moresby</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@dinaucontrolcentre.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>78222774</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2612.8978619729824!2d147.17412626636568!3d-9.429369845984185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x690230b9488d0ce5%3A0x4ad058ca41a6650b!2sParani%20Cres%2C%20Port%20Moresby%20National%20Capital%20District!5e0!3m2!1sen!2spg!4v1720271466116!5m2!1sen!2spg" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


{% endblock content %}