<!-- add_business.html -->
{% extends "website/website_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Client Record{% endblock %}

{% block breadcrumb %} <a href="{% url 'dashboard' %}">Dashboard</a>  /  <a href="{% url 'profile' %}">Profile</a> {% endblock %}
{% block breadcrumb_active %} Client Record {% endblock %}
{% block dashboard_title %} View Client Record {% endblock %}

{% block content %}
  <!-- Content Ends Here -->

  <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center bg-secondary" style="background-image: url('{% static 'web/img/header_bg1.png' %}');">
    <div class="container my-3 py-3">
      <div class="row">
        <div class="col-lg-12 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h3 class="text-center py-1"><u>{{ client.first_name }} {{ client.last_name }}</u></h3>
          
            <div class="row my-2">
                <div class="col-4">
                    <div class="card p-2 bg-danger">
                        <span class="text-light">Credit Status:</span> <strong class="text-warning">DEFAULTED</strong>
                    </div>
                    
                </div>
                <div class="col-4">
                    <div class="card p-2">
                    Credit Rating: <strong class="text-primary">67/100</strong>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card p-2">
                    Updated at: <strong class="text-primary">12/01/2025</strong>
                    </div>
                </div>
            </div>


        </div>
      </div>
    </div>
</section><!-- End Hero -->


<section id="details" class="my-3">
    <div class="card m-2 p-3">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">Client Details</div>
                <div class="card-body pt-2">
                    <p class="m-0 py-1 px-0">First Name: <strong>{{ client.first_name }}</strong></p>
                    <p class="m-0 py-1 px-0">Last Name: <strong>{{ client.last_name }}</strong></p>
                    <p class="m-0 py-1 px-0">Gender: <strong>{{ client.gender }}</strong></p>
                    <p class="m-0 py-1 px-0">Date of Birth: <strong>Register to view</strong></p>
                    <p class="m-0 py-1 px-0">NID Number: <strong>Register to view</strong></p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">Contact Details</div>
                <div class="card-body pt-2">
                    <p class="m-0 py-1 px-0">Phone: <strong>Register to view</strong></p>
                    <p class="m-0 py-1 px-0">Mobile: <strong>Register to view</strong></p>
                    <p class="m-0 py-1 px-0">Mobile 2: <strong>Register to view</strong></p>
                    <p class="m-0 py-1 px-0">Email: <strong>Register to view</strong></p>
                    <p class="m-0 py-1 px-0">Residential Address: <strong>Register to view</strong></p>
                </div>  
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">Employment Details</div>
                <div class="card-body pt-2">
                    <p class="m-0 py-1 px-0">Occupation: <strong>Register to view</strong></p>
                    <p class="m-0 py-1 px-0">Employer: <strong>Register to view</strong></p>
                    <p class="m-0 py-1 px-0">Office: <strong>Register to view</strong></p>
                    <p class="m-0 py-1 px-0">Work Phone: <strong>Register to view</strong></p>
                    <p class="m-0 py-1 px-0">Work Email: <strong>Register to view</strong></p>
                </div>
        </div>
    </div>

<div class="card m-3 p-3">
    <h4 class="my-2">Loan Records</h4>
    <table border="1" class="table table-striped datatable">
        <thead>
            <tr>
                <th>Loan Ref</th>
                <th>Status</th>
                <th>Company</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Term</th>
                <th>Repayment</th>
                <th>Paid</th>
                <th>Outstanding</th>
                <th>Arrears</th>
                <th>Default</th>
                <th>Write Off</th>
                <th>Legal Status</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in loans %}
            
                <tr onclick="window.location.href='#';" style="cursor: pointer;" onmouseover="this.style.backgroundColor='#65a2f7'; this.style.color='#ffffff';" onmouseout="this.style.backgroundColor=''; this.style.color='';">
                    <td>{{ loan.ref }}</td>
                    <td>{{ loan.status }}</td>
                    <td>{{ loan.luid }}</td>
                    <td>{{ loan.amount }}</td>
                    <td>{{ loan.date }}</td>
                    <td>{{ loan.term }}</td>
                    <td>{{ loan.repayment }}</td>
                    <td>{{ loan.paid }}</td>
                    <td>{{ loan.outstanding }}</td>
                    <td>{{ loan.arrears }}</td>
                    <td>{{ loan.default }}</td>
                    <td>{{ loan.write_off }}</td>
                    <td>{{ loan.legal_status }}</td>
                    <td>{{ loan.notes }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="card m-3 p-3">

    <h4 class=" text-dark my-3">Public Notices</h4>
    <p>No public notices have been recorded in the system.</p>
</div>
<div class="card m-3 p-3">
    <h4 class=" text-dark my-3">General Information</h4>
    <p>No general information has been recorded in the system.</p>
</div>
    </div><!-- card end-->
</section>
{% endblock %}
