<!-- add_Client.html -->
{% extends "dashboard_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Recovery Records{% endblock %}



{% block breadcrumb %} <a href="{% url 'dashboard' %}">Dashboard</a>  /  <a href="{% url 'profile' %}">Profile</a> {% endblock %}
{% block breadcrumb_active %} Records {% endblock %}
{% block dashboard_title %} Recovery {% endblock %}


{% block content %}
  <!-- Content Ends Here -->
  <h3 class="">DCC Snapshots</h3>
  <hr class="p-0 my-3" style="border: 1px solid #0cf; width:100%;">
    <div class="row">
      <div class="col-lg-4">
        <div class="card bg-danger">
          <h2 class="px-3 pt-3 pb-0 m-0 text-light">In Recovery</h2>
          <hr class="p-0 my-3" style="border: 1px solid #a9c2b7; width:100%;">
          <div class="card-body">
                <h2 class="text-light">K 300,00.00</h2>
                <p class="text-light">from <span class="text-light">58</span> Records | <a href="#" class="text-light"><u>View Records</u></a></p>
          </div>
        </div>
      </div>
      

      <div class="col-lg-4">
        <div class="card bg-warning">
          <h2 class="px-3 pt-3 pb-0 m-0 text-light">In Court</h2>
          <hr class="p-0 my-3" style="border: 1px solid #07223f; width:100%;">
          <div class="card-body">
                <h2 class="text-light">K 300,00.00</h2>
                <p class="text-light">from <span class="text-light">58</span> Records | <a href="#" class="text-light"><u>View Records</u></a></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card bg-success">
          <h2 class="px-3 pt-3 pb-0 m-0 text-light">Recovered</h2>
          <hr class="p-0 my-3" style="border: 1px solid #ceff09; width:100%;">
          <div class="card-body">
                <h2 class="text-light">K 300,00.00</h2>
                <p class="text-light">from <span class="text-light">58</span> Records | <a href="#" class="text-light"><u>View Records</u></a></p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Client Records</h5>
              <p>This is a list of recent records in the database</p>

               <!-- Table with stripped rows -->
               <table class="table datatable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>C.Rating</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Owner</th>
                  </tr>
                </thead>
                <tbody>
                  {% for client in clients %}
                    <tr onclick="window.location.href='#';" style="cursor: pointer;" onmouseover="this.style.backgroundColor='#65a2f7'; this.style.color='#ffffff';" onmouseout="this.style.backgroundColor=''; this.style.color='';">
                        <td>{{ client.client.first_name }} {{ client.client.last_name }}</td>
                        <td>{{ client.credit_rating }}</td>
                        <td>{{ client.status }}</td>
                        <td>{{ client.date }}</td>
                        <td>{{ client.amount }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.mobile }}</td>
                        <td>{{ client.owner }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
    </div>
   

{% endblock %}


