<!-- add_business.html -->
{% extends "dashboard_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Upload Client Record {% endblock %}

{% block breadcrumb %} <a href="{% url 'dashboard' %}">Dashboard</a>  /  <a href="{% url 'profile' %}">Profile</a> {% endblock %}
{% block breadcrumb_active %} Client {% endblock %}
{% block dashboard_title %} Upload Records {% endblock %}


{% block content %}

    
    <p>Select .xlsx file to upload. If you do not have the file yet, <a href="{% static 'website/files/DCC_Default_Upload_Template.xlsx' %}">click to download excel template.</a></p>
    <hr>
    <div class="card p-3">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Upload Excel File</h2>
        <div class="form-group mb-3">
        <label for="client_records_data">Select .xlsx file with data:</label>
        <input type="file" class="form-control" id="client_records_data" name="client_records_data">
        </div>
        <div class="text-end">
        <a href="#" class="btn btn-secondary">CANCEL</a>
        <button type="submit" class="btn btn-primary px-4">UPLOAD</button>
      </div>
      </form>
    </div>

  <!-- Content Ends Here -->

{% endblock %}




